body{
    margin: 0;
}
h1{
    font-size: 60px;
}
.font-regular{
    font-family: 'Poppins', sans-serif;
}
.flaxible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 90%;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
    
}
.orange-color{
    color: orange;
}
#border-line{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 13), rgb(7, 14, 14));
    border-image-slice: 1;
    padding-left: 2%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(3, 1, 14));
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}
p{
    font-size: 20px;
}
.text-center{
    text-align: center;
}
#box-container-left{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(226, 210, 181);
    
}
#box-container-center{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(155, 160, 209);
    
}
#box-container-right{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(233, 190, 111);
    
}
.box-container img{
    align-items: left;
    width: 200px;
}
.left-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
.right-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 20%;
}
.footer{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

